{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RecipeApp | Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      href="{% static 'recipes/images/favicon.png' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'recipes/css/styles.css' %}"
    />
    <style type="text/css">
      body {
        background: url("{% static 'recipes/images/background.jpeg' %}")
          no-repeat fixed;
        background-size: cover;
      }
    </style>
  </head>
  <nav>
    <ul>
      <a href="{%url 'list' %}"
        ><img
          id="logo"
          src="{% static 'recipes/images/logo.png' %}"
          width="50px"
      /></a>

      <li>
        <a href="{%url 'logout' %}" class="btn"> Logout </a>
      </li>
      <li>
        <a href="{%url 'search' %}" class="btn"> Display Recipe Data </a>
      </li>
    </ul>
  </nav>
  <div class="wrapper">
    <div>
      <h2>{{object.name}}</h2>
      <img src="{{object.pic.url}}" width="200" />
    </div>
    <div class="details">
      <div>
        <b>Cooking Time (min): </b> {{object.cooking_time}} <br />
        <b>Difficulty: </b> {{object.calculate_difficulty}} <br /><br />
      </div>
      <div>
        <b>Ingredients: </b> {{object.ingredients}} <br />
        <b>Description: </b> {{object.description}} <br />
        <br />
        <button onclick="goBack()" class="login_btn">Back</button>
      </div>
    </div>
  </div>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</html>
