<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RecipeApp | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      rel="shortcut icon"
      href="{% static 'recipes/images/favicon.png' %}"
    />
    <style type="text/css">
      body {
        background: url("{% static 'recipes/images/background.jpeg' %}")
          no-repeat fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15vh;
      }
      .blurred-div {
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(4px);
        padding: 20px;
        margin: 20px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="blurred-div">
      <h1>Welcome to Recipe App</h1>
      <h2>Discover Delicious Recipes</h2>
      <p>
        Browse our collection of mouth-watering recipes and find your next
        favorite dish.
      </p>
    </div>
  </body>
</html>
