<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RecipeApp | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      rel="shortcut icon"
      href="{% static 'recipes/images/favicon.png' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'recipes/css/styles.css' %}"
    />
    <style type="text/css">
      body {
        background: url("{% static 'recipes/images/background.jpeg' %}")
          no-repeat fixed;
        background-size: cover;
      }
    </style>
  </head>

  <body>
    <div class="blurred-div">
      <h1>Login</h1>
      {% if error_message %}
      <div class="alert alert-danger">{{ error_message }}</div>
      {% endif %}
      <form class="form" action="" method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn">Login</button>
      </form>
    </div>
  </body>
</html>
